* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: #9db1cb;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.min-height-cover-screen {
  min-height: 80vh;
}
